<?xml version="1.0" encoding="UTF-8"?>
<widget id="museo.efimero" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>Museo Efímero del Olvido</name>
    <description>
        Mapa interactivo de audios visita guiada museo efímero del olvido 2015
    </description>
    <author email="info@8manos.com" href="http://8manos.com">
        8manos
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name='phonegap-version' value='cli-5.1.1' />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="landscape" />

    <preference name="BackgroundColor" value="#E48CB8" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="EnableViewportScale" value="true" />

    <icon src="icon.png" />
    <icon src="img/android/drawable-ldpi/ic_launcher.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="img/android/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="img/android/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="img/android/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />

    <icon src="img/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144" />  

    <gap:plugin name="com.fridaydesigm.plugins.viewport_scale" version="0.9.3" />
    
    <accesss origin="*" />
</widget>